<h1>Распределение команд по дивизионам</h1>

<h2>Дивизион А</h2>
<% @division_a_teams.each do |team| %>
  <p><%= team.name %></p>
<% end %>

<h2>Дивизион B</h2>
<% @division_b_teams.each do |team| %>
  <p><%= team.name %></p>
<% end %>